body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    
  }
  .row {
    height: 100vh;
    margin: 0;
    overflow: hidden; }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; 
    width: 250px;
    padding: 20px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    z-index: 1000;
  }

  .sidebar .logo img {
    width: 120px;
    margin-bottom: 30px;
  }
  @media (min-width: 750px){
    .logo{
        background-image: url();
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    gap: 10px;
  }

  .menu-item i {
    width: 24px;
    margin-right: 10px;
    font-size: 18px;
    gap: 40px;
  }

  .menu-item:hover {
    color: #000;
    font-weight: bold;
  }

  .right-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
  }
  @media (max-width: 992px) {
    .sidebar,
    .right-bar {
      display: none;
    }
  }
  .suggestion img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
  }

  .suggestion {
    padding-top: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: medium;
}  
.story-main{
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  margin-left: 250px; 
  margin-right: 300px;
}
.stories {
    margin-top: 20px;
    height: 100px;
    background-color: #fcfcfc;
    border-radius: 8px;
    white-space: wrap;
  }  
.stories img {
    border: 2px solid #c13584; 
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; 
  }
  .card {
    max-width: 600px;
    padding-top: 30px;
    margin: 30px auto;
    background-color: #fff;
    border: 1px solid #ffffff;
  }
  
  .card img {
    object-fit: cover;
  }
  
  .card-body i {
    cursor: pointer;
    transition: 0.3s;
  }
  
  .card-body i:hover {
    color: #c13584;
  }
  
.card-body i.liked {
  color: #e1306c;
}

.card-header img {
  object-fit: cover;
}























  
  
  
 